<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amsterdam street growth</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="manifest.json" rel="manifest">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="css/style-min.css" as="style" onload="this.rel='stylesheet'">

    <noscript>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600">
        <link rel="stylesheet" type="text/css" href="css/style-min.css">
    </noscript>

    <script src="js/bundle.js" defer></script>
</head>
<body>

{% block content %}
{% endblock %}

<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('sw.js');
    }
</script>
</body>
</html>