{% extends "components/_layout.html" %}

{% block content %}


    <section>
        <div class="timeline">
            {% for year in streets %}
            <div class="timeline-part year-${year}">
                <div class="timeline-graph"></div>
                <div class="timeline-meta">
                    <h3 class="year">{{ year.year }} - {{ year.streets|length }} {% if year.streets|length > 1 %} Straten{% else %} straat{% endif %}</h3>
                    <ul class="streets">
                        {% for street in year.streets %}
                        <li>{{ street }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}