{% extends "components/_layout.html" %}

{% block content %}

<aside>
    <div class="timeline"></div>
    <div class="scroll-indicator">
        <img src="img/scroll.svg" alt="Scroll naar beneden voor meer straten">
        Scroll naar beneden om meer straten te laden
    </div>
</aside>

<main id="map"></main>

<div class="controls">
    <button id="play">
        <img src="img/play.svg" alt="Play button">
    </button>
    <button id="pause" class="hidden"><img src="img/pause.svg" alt="pause button"></button>
</div>

<div class="preloader">
    <img src="img/loader.svg" alt="Loading...">
</div>

<div class="landscape-only">
    <img src="img/rotate-phone.svg">
    Please rotate your phone
</div>

{% endblock %}
